html,
body {
  margin: 0;
  padding: 0;
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f2c32f;
}

/* typography */
h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 22px;
}

/* layout */
.top-section {
  display: flex;
  justify-content: center;
  padding: 10px 100px;
  border-radius: 7px;
}
.main-image {
  width: 180px;
  border-radius: 7px;
}
.h-elements {
  text-align: center;
}
.hyper-only-image {
  font-size: 20px;
}
.car-selection {
  transform: scale(1.5);
}

/* controls */
.get-image-btn {
  font-size: 20px;
}

.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-modal {
    display: none; /*flex when displayed*/
  position: fixed;
  margin: auto;
  top: 80px;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  border: 1px solid #67595e;
  border-radius: 5px;
  width: 420px;
  height: 490px;
  background-color: #fff0ee;
}

.emotion-radios {
  font-size: 28px;
  padding: 0px 0px 20px;
  width: 80%;
  text-align: center;
}

.highlight {
  background-color: #fff0ee;
  color: #bd301d;
  font-weight: bold;
  accent-color: #bd301d;
}
.car-img {
  max-width: 340px;
  max-height: 420px;
  border-radius: 5px;
}
